GROQ_API_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=rag-system-
DYNAMODB_TABLE=r
SQS_QUEUE_URL=https://
CHROMA_PORT=
CHROMA_HOST=localhost
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=rag
RDS_HOST=
RDS_PORT=
RDS_DB=ra
RDS_USER=
RDS_PASSWORD=!
SQS_QUEUE_URL=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
DASHBOARD_PASSWORD_HASH=