fastapi
uvicorn
langchain
langchain-community
langchain-text-splitters
langgraph
boto3
streamlit
langsmith
python-dotenv
pypdf
psycopg2-binary
pgvector
slowapi==0.1.9
pytest
langsmith
python-dotenv
pypdf
psycopg2-binary
pgvector
pytest
graphifyy==0.4.23
